/* ####################
        ENTETE
#####################*/  
*, *::before, *::after {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

#tm-entete {

    // Navbar
    nav{
        display: flex;
        justify-content: space-around;
        margin: auto;
        font-weight: 800;
        font-size: 1.2rem;

        // Logo du CV
        .tm-logo {
            background-image: url("../../public/img/entete/Logo\ TMD\ finit.svg");
            background-size: cover;
            background-position: center;
            width: 100px;
            height: 80px;
            position: absolute;
            left: -10px;
            top: 10px;
            transform: translate(25px, -10%);
            z-index: 2;
        }

        // Cercle sous logo 
        .tm-cercle-logo {
            width: 90px;
            height: 90px;
            border-radius: 50px;
            border: solid 2px white;
            position: absolute;
            left: 5px;
            box-shadow: inset 0 0 1px 1px  rgb(255, 255, 255);
        }

        .tm-navbar {
            flex: 0 0 60%;
            text-align: center;
            margin-left: 300px;
        }

        ul {
            margin-bottom: 5px;

            li {
                list-style: none;
                display: inline-block;
                margin-bottom: 15px;
                margin-right: 40px; 

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        // Icones réseaux pour me contacter
        > div.tm-reseau {
    
            display: flex;
            text-align: right;
            align-self: center;
            align-items: center;

            // Linkedin
            a.tm-linkedin {
                background-image: url("../../public/img/icons/linkedIn.png");
                display: inline-block;
                background-size: cover;
                height: 22px;
                width: 25px;
                margin-right: 40px;
            }

            a.tm-linkedin:hover {
                transform: scale(1.5);
                transition: 0.3s;
            }
    
            // Email
            a.tm-mail {
                background-image: url("../../public/img/icons/email.png");
                display: inline-block;
                background-size: cover;
                height: 25px;
                width: 27px;
                margin-right: 40px;
            }

            a.tm-mail:hover {
                transform: scale(1.5);
                transition: 0.3s;
            }
    
            // Téléphone
            a.tm-btn {
                border: 1px solid #95B3D8;
                border-radius: 10px;
                padding: 0.4rem;
                text-decoration: none;
                color: white;
                background-color: #95B3D8;
                margin-right: 10px;
            }

            a.tm-btn:hover {
                box-shadow: 5px 5px 10px rgb(226, 177, 71);
            }
        }
    }
    

    // Paragraphe de présentation avec image de fond
    .tm-description {

        background-image: url(../../public/img/entete/entete.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 700px;

        h1 {
            display: none;
        }

        .tm-title {
            position: absolute;
            bottom: 20px;
            left: 550px;

            h2 {
                font-size: 2.4rem;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .tm-metier {
                font-size: 3.5rem;
                font-weight: bold;
                color: #E2B147;
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 50px;
            }

            .tm-stage {
                font-size: 1.4rem;
            }
        }
    }  
}


/* ####################
      FIN ENTETE
#####################*/  
