/* ####################
        FOOTER 
#####################*/


#tm-footer {

    display: flex;
    justify-content: space-between;
    background-color: #202020;
    height: 130px;

    // Logo du CV
    .tm-logo1 {
        background-image: url("../../public/img/entete/Logo\ TMD\ finit.svg");
        background-size: cover;
        background-position: center;
        display: inline-block;
        width: 160px;
        height: 110px;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 60px;
    }

    // Boutton pour télécharger le CV
    .tm-btn-cv {
        height: 33px;
        width: 200px;
        border-radius: 10px;
        color: #202020;
        background-color: #95B3D8;
        align-self: center;
        text-align: center;
        padding-top: 8px;
        margin-top: 3px;
        
        .tm-btn-cv1 {
            text-decoration: none;
            color: white;
        }
    }

    .tm-btn-cv:hover {
        box-shadow: 5px 5px 10px rgb(226, 177, 71);
    }

    // Logo avec liens pour Linkedin, email et numéro de tel
    .tm-reseau1 {
        flex: 0 0 20%;
        display: flex;
        text-align: right;
        align-self: center;
        align-items: center;

        // Linkedin
        a.tm-linkedin {
            background-image: url("../../public/img/icons/linkedIn.png");
            display: inline-block;
            background-size: cover;
            height: 22px;
            width: 25px;
            margin-right: 40px;
        }

        a.tm-linkedin:hover {
            transform: scale(1.5);
            transition: 0.3s;
        }

        // Email
        a.tm-mail {
            background-image: url("../../public/img/icons/email.png");
            display: inline-block;
            background-size: cover;
            height: 25px;
            width: 27px;
            margin-right: 40px;
        }

        a.tm-mail:hover {
            transform: scale(1.5);
            transition: 0.3s;
        }

        // Téléphone
        a.tm-btn {
            border: 1px solid #95B3D8;
            border-radius: 10px;
            padding: 0.4rem;
            text-decoration: none;
            color: white;
            background-color: #95B3D8;
            margin-right: 10px;
        }

        .tm-btn:hover {
            box-shadow: 5px 5px 10px rgb(226, 177, 71);
        }
    }
}


/* ####################
      FIN FOOTER
#####################*/